@import url(C:/Users/Condori/Desktop/Unju/Phyton/Curso2021/MetodologiadelaProgramacion/Gitlab/Clonado/teamservitech/djangoEjemplo/serviTech/templates/serviTech/css/);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");


h3{
    background-color: aquamarine;
}

h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 15px;
}
