@import url(C:\Users\Condori\Desktop\Unju\Phyton\Curso2021\MetodologiadelaProgramacion\Gitlab\tp3\css);

.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
}

.all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
}

.browser {
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.browser > h2, p {
    margin: 4px;
    font-size: 90%;
}   
   
header {
    background: url(plantilla-moderna-abstracta-elegante-banner_1055-7708.jpg)no-repeat;
    background-size: cover;
    height: 150px;
    overflow: hidden;
}

.logo {
    text-align: center;
}

figure{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

body {
    margin: 0;
    font-family: Prompt, Helvetica, sans-serif;
  }
  
.topnav {
    overflow: hidden;
    background-color: rgb(15, 53, 28);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

h1{
    color:rgb(14, 175, 122);
    font-family: Prompt;
}
h2{
    color:rgb(255, 255, 255);
    font-family: Prompt;
}

footer{
    background: gray;
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container-body{
    display: flex;
}

.colim1{
    max-width: 200px;
}

.colum1 h2{
    font-size: 22px;
    font-family: Prompt;
}
.colum1 p{
    font-size: 14px;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
}

.colum2 h2{
    font-size: 22px;
    font-family: Prompt;
}


form {
    width: 450px;
    margin: auto;
    background: rgba(red, green, blue, alpha);
}

input, textarea, select{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

@font-face {
    font-family: Prompt;
    src: url('../fonts/Prompt-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

.col1{
    text-align: center;
    font-size: 26px;
    margin-left: 20%;
    margin-right: 20px;
}
.col2{
    text-align: center;
    font-size: 26px;
    margin-right: 20%;
    margin-left: 20px;
}